<!DOCTYPE html>
<html>
  <head>
    <title>Iron Meteorite Database</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/database.css' />
  </head>
  <body>
      <% if(isSignedIn){ %>
        <%- include('components/navbar_signed_in'); %>
      <% } else { %>
        <%- include('components/navbar'); %>
      <% } %>
    
    
    <div class="container-fluid fixed-top p-2 border-bottom border-dark" id="search-panel">
      <div class="row ml-2 mt-2">
        <div class="col-sm-2 align-self-end">
          <div class="d-flex flex-row">
            <form action="/database/export" method="POST" id="export-form">
              <label class="sr-only" for="entries">entry ids of currently viewed entries</label>
              <div id="entry-ids">
                <% for(var i=0; i < Entries.length; i++) { %>
                  <input type="hidden" name="entries" value=<%= Entries[i].entry_id %>>
                <% } %>
              </div>
              <button class="btn btn-outline-secondary btn-block mt-2" type="submit">Export Data</button>
            </form>
          </div>
        </div>
        <div class="col-sm-10">
          <form action="/database" method="POST" id="search-form">
            <div class="row">
              <div class="col-md-3 offset-md-1">
                <label class="sr-only" for="name"></label>
                <input type="text" name="name" id="name" class="form-control" placeholder="meteorite name">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="title"></label>
                <input type="text" name="title" id="title" class="form-control" placeholder="paper title">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="author"></label>
                <input type="text" name="author" id="author" class="form-control" placeholder="author">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="group">group</label>
                <select class="form-control" name="group">
                  <option>Group</option>
                  <option value="IAB">IAB</option>
                  <option value="IA">IA</option>
                  <option value="IB">IB</option>
                  <option value="IC">IC</option>
                  <option value="IIAB">IIAB</option>
                  <option value="IIA">IIA</option>
                  <option value="IIB">IIB</option>
                  <option value="IIC">IIC</option>
                  <option value="IID">IID</option>
                  <option value="IIE">IIE</option>
                  <option value="IIG">IIG</option>
                  <option value="IIIAB">IIIAB</option>
                  <option value="IIICD">IIICD</option>
                  <option value="IIIE">IIIE</option>
                  <option value="IVA">IVA</option>
                  <option value="IVB">IVB</option>
                  <option value="Ungrouped">Ungrouped</option>
                </select>  
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3 offset-md-1">
                <h4 class="text-light">Composition:</h4>
              </div>
              <div class="col-sm-3">
                <label class="sr-only" for="element">element</label>
                <select class="form-control custom-select" name="element" multiple id="element1">
                  <option disabled>Element</option>
                  <option value="H">H</option>
                  <option value="He">He</option>
                  <option value="Li">Li</option>
                  <option value="Be">Be</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="N">N</option>
                  <option value="O">O</option>
                  <option value="F">F</option>
                  <option value="Ne">Ne</option> 
                  <option value="Na">Na</option> 
                  <option value="Mg">Mg</option> 
                  <option value="Al">Al</option> 
                  <option value="Si">Si</option> 
                  <option value="P">P</option>
                  <option value="S">S</option>
                  <option value="Cl">Cl</option> 
                  <option value="Ar">Ar</option> 
                  <option value="K">K</option>
                  <option value="Ca">Ca</option> 
                  <option value="Sc">Sc</option> 
                  <option value="Ti">Ti</option> 
                  <option value="V">V</option>
                  <option value="Cr">Cr</option> 
                  <option value="Mn">Mn</option> 
                  <option value="Fe">Fe</option> 
                  <option value="Co">Co</option> 
                  <option value="Ni">Ni</option> 
                  <option value="Cu">Cu</option> 
                  <option value="Zn">Zn</option> 
                  <option value="Ga">Ga</option> 
                  <option value="Ge">Ge</option> 
                  <option value="As">As</option> 
                  <option value="Se">Se</option> 
                  <option value="Br">Br</option> 
                  <option value="Kr">Kr</option> 
                  <option value="Rb">Rb</option> 
                  <option value="Sr">Sr</option> 
                  <option value="Y">Y</option>
                  <option value="Zr">Zr</option> 
                  <option value="Nb">Nb</option> 
                  <option value="Mo">Mo</option> 
                  <option value="Tc">Tc</option> 
                  <option value="Ru">Ru</option> 
                  <option value="Rh">Rh</option> 
                  <option value="Pd">Pd</option> 
                  <option value="Ag">Ag</option> 
                  <option value="Cd">Cd</option> 
                  <option value="In">In</option> 
                  <option value="Sn">Sn</option> 
                  <option value="Sb">Sb</option> 
                  <option value="Te">Te</option> 
                  <option value="I">I</option>
                  <option value="Xe">Xe</option> 
                  <option value="Cs">Cs</option> 
                  <option value="Ba">Ba</option> 
                  <option value="La">La</option> 
                  <option value="Ce">Ce</option> 
                  <option value="Pr">Pr</option> 
                  <option value="Nd">Nd</option> 
                  <option value="Pm">Pm</option> 
                  <option value="Sm">Sm</option> 
                  <option value="Eu">Eu</option> 
                  <option value="Gd">Gd</option> 
                  <option value="Tb">Tb</option> 
                  <option value="Dy">Dy</option> 
                  <option value="Ho">Ho</option> 
                  <option value="Er">Er</option> 
                  <option value="Tm">Tm</option> 
                  <option value="Yb">Yb</option> 
                  <option value="Lu">Lu</option> 
                  <option value="Hf">Hf</option> 
                  <option value="Ta">Ta</option> 
                  <option value="W">W</option>
                  <option value="Re">Re</option> 
                  <option value="Os">Os</option> 
                  <option value="Ir">Ir</option> 
                  <option value="Pt">Pt</option> 
                  <option value="Au">Au</option> 
                  <option value="Hg">Hg</option> 
                  <option value="Tl">Tl</option> 
                  <option value="Pb">Pb</option> 
                  <option value="Bi">Bi</option> 
                  <option value="Po">Po</option> 
                  <option value="At">At</option> 
                  <option value="Rn">Rn</option> 
                  <option value="Fr">Fr</option> 
                  <option value="Ra">Ra</option> 
                  <option value="Ac">Ac</option> 
                  <option value="Th">Th</option> 
                  <option value="Pa">Pa</option>
                  <option value="U">U</option>
                  <option value="Np">Np</option> 
                  <option value="Pu">Pu</option> 
                  <option value="Am">Am</option> 
                  <option value="Cm">Cm</option> 
                  <option value="Bk">Bk</option> 
                  <option value="Cf">Cf</option> 
                  <option value="Es">Es</option> 
                  <option value="Fm">Fm</option> 
                  <option value="Md">Md</option> 
                  <option value="No">No</option> 
                  <option value="Lr">Lr</option> 
                  <option value="Rf">Rf</option> 
                  <option value="Db">Db</option> 
                  <option value="Sg">Sg</option> 
                  <option value="Bh">Bh</option> 
                  <option value="Hs">Hs</option> 
                  <option value="Mt">Mt</option> 
                  <option value="Ds">Ds</option> 
                  <option value="Rg">Rg</option> 
                  <option value="Cn">Cn</option> 
                  <option value="Nh">Nh</option> 
                  <option value="Fl">Fl</option> 
                  <option value="Mc">Mc</option> 
                  <option value="Lv">Lv</option> 
                  <option value="Ts">Ts</option> 
                  <option value="Og">Og</option>                   
                </select>
              </div>
              <div class="col-sm-3">
                <label class="sr-only" for="range">Range</label>
                <select class="form-control" name="range">
                  <option>Range</option>
                  <option value="major">Major</option>
                  <option value="minor">Minor</option>
                  <option value="trace">Trace</option>
                </select>
              </div>
            </div>
            <div class="row mt-1">

              <div class=" col-md-2 offset-md-6 col-sm-3 offset-sm-6">
                <a class="btn btn-outline-light btn-block mt-2" id="reset-btn">Reset</a>
              </div>
              <div class="col-md-2 col-sm-3">
                <button class="btn btn-outline-warning btn-block mt-2">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>


    <div class="container-fluid p-0" id="results">
      <table class="table table-striped table-bordered table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Measurement Technique</th>
            <th>Major Elements</th>
            <th>Minor Elements</th>
            <th>Trace Elements</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Pg.#</th> 
            <th>Journal</th> 
            <th>Issue</th>
            <th>Year Published</th> 
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < Entries.length; i++) { %>
              <tr>
                <th>
                  <a href="/database/<%= Entries[i].entry_id %>">
                    <%= Entries[i].meteorite_name %>
                  </a>
                </th>
                <th><%= Entries[i].classification_group %></th>
                <th><%= Entries[i].technique %></th>
                <th>
                  <% 
                  if (Entries[i].major_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].major_elements.length; j++) {
                      var temp = Entries[i].major_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th>
                  <% 
                  if (Entries[i].minor_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].minor_elements.length; j++) {
                      var temp = Entries[i].minor_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th>
                  <% 
                  if (Entries[i].trace_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].trace_elements.length; j++) {
                      var temp = Entries[i].trace_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th><%= Entries[i].title %></th>
                <th><%= Entries[i].authors %></th>
                <th><%= Entries[i].page_number %></th> 
                <th><%= Entries[i].journal_name %></th> 
                <th><%= Entries[i].issue_number %></th>
                <th><%= Entries[i].published_year %></th> 
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <%- include('bootstrap/js'); %>
    <script src="/javascripts/database.js"></script>
  </body>
</html>



