<!DOCTYPE html>
<html>
  <head>
    <title>Iron Meteorite Database</title>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/database.css' />
  </head>
  <body>
      <% if(isSignedIn){ %>
        <%- include('components/navbar_signed_in'); %>
      <% } else { %>
        <%- include('components/navbar'); %>
      <% } %>
    
    
    <div class="container-fluid fixed-top p-2 border-bottom border-dark" id="search-panel">
      <div class="row ml-2 mt-2">
        <div class="col-sm-2 align-self-end">
          <div class="d-flex flex-row">
            <form action="/database/export" method="POST" id="export-form">
              <label class="sr-only" for="entries">entry ids of currently viewed entries</label>
              <div id="entry-ids">
                <% for(var i=0; i < Entries.length; i++) { %>
                  <input type="hidden" name="entries" value=<%= Entries[i].entry_id %>>
                <% } %>
              </div>
              <button class="btn btn-outline-secondary btn-block mt-2" type="submit">Export Data</button>
            </form>
          </div>
        </div>
        <div class="col-sm-10">
          <form action="/database" method="POST" id="search-form">
            <div class="form-row">
              <div class="col-md-3 offset-md-1">
                <label class="sr-only" for="name"></label>
                <input type="text" name="name" id="name" class="form-control" placeholder="meteorite name">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="title"></label>
                <input type="text" name="title" id="title" class="form-control" placeholder="paper title">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="author"></label>
                <input type="text" name="author" id="author" class="form-control" placeholder="author">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="group">group</label>
                <select class="form-control" name="group">
                  <option>Group</option>
                  <% for(var i=0; i < Groups.length; i++) { %>
                    <option value="<%= Groups[i].classification_group %>"><%= Groups[i].classification_group %></option>
                  <% } %>                
                </select>  
              </div>
            </div>
            <i class="far fa-plus-square fa-lg show-journal text-warning" title="Show journal options"></i>
            <i class="far fa-minus-square fa-lg hide-journal text-warning" title="Hide journal options"></i>
            <i class="far fa-plus-square fa-lg show-year text-warning" title="Show published year options"></i>
            <i class="far fa-minus-square fa-lg hide-year text-warning" title="Hide published year options"></i>
            <div class="form-row journal" hidden="true">
              <div class="form-group col-md-3 offset-md-1">
                <label class="sr-only" for="journal_name"></label>
                <input type="text" name="journal_name" id="journal_name" class="form-control" placeholder="journal name" disabled="true">
              </div>
              <div class="form-group col-md-3">
                <label class="sr-only" for="issue"></label>
                <input type="text" name="issue" id="issue" class="form-control" placeholder="issue" disabled="true">
              </div>
              <div class="form-group col-md-2">
                <label class="sr-only" for="page_number"></label>
                <input type="text" name="page_number" id="page_number" class="form-control" placeholder="page number" disabled="true">
              </div>
            </div>
            <div class="form-row year">
              <div class="form-group col-md-1 offset-md-1 year" hidden="true">
                <label class="sr-only" for="pub_yr_sign">published year modifier sign</label>
                <select class="form-control" name="pub_yr_sign" disabled="true">
                  <option value="equal" default>=</option>
                  <option value="less">&lt;</option>
                  <option value="greater">&gt;</option>
                </select>
              </div>
              <div class="form-group col-md-2 year" hidden="true">
                <label class="sr-only" for="pub_year">published year</label>
                <input type="number" class="form-control" name="pub_year" id="pub_year" min="1900" Max="2019" step="1" placeholder="year" disabled="true">
              </div>
            </div>
            <div class="form-row mt-3" id="composition0">
              <div class="col-md-2">
                <h4 class="text-light">Composition:</h4>
              </div>
              <div class="col-md-1 mt-1">
                  <i class="fas fa-plus-circle fa-lg text-warning show-element" title="Add element constraint"></i>
                  <i class="fas fa-minus-circle fa-lg text-warning hide-element" title="Remove element constraint"></i>
              </div>
              <div class="form-group col-md-1 hide-target" hidden="true">
                <label class="sr-only" for="element0_mod">Element modifier</label>
                <select class="form-control" name="element0_mod" title="Select whether to search for an element that appears in the data or not" disabled="true">
                  <option value="IN" default>IN</option>
                  <option value="NOT">NOT</option>
                </select>
              </div>
              <div class="form-group col-sm-3 element hide-target" hidden="true">
                <label class="sr-only" for="element0">element</label>
                <select class="form-control custom-select element" name="element0" multiple disabled="true" id="element0">
                  <option disabled>Element</option>
                  <option value="h">H</option>
                  <option value="he">He</option>
                  <option value="li">Li</option>
                  <option value="be">Be</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="n">N</option>
                  <option value="o">O</option>
                  <option value="f">F</option>
                  <option value="ne">Ne</option> 
                  <option value="na">Na</option> 
                  <option value="mg">Mg</option> 
                  <option value="al">Al</option> 
                  <option value="si">Si</option> 
                  <option value="p">P</option>
                  <option value="s">S</option>
                  <option value="cl">Cl</option> 
                  <option value="ar">Ar</option> 
                  <option value="k">K</option>
                  <option value="ca">Ca</option> 
                  <option value="sc">Sc</option> 
                  <option value="ti">Ti</option> 
                  <option value="v">V</option>
                  <option value="cr">Cr</option> 
                  <option value="mn">Mn</option> 
                  <option value="fe">Fe</option> 
                  <option value="co">Co</option> 
                  <option value="ni">Ni</option> 
                  <option value="cu">Cu</option> 
                  <option value="zn">Zn</option> 
                  <option value="ga">Ga</option> 
                  <option value="ge">Ge</option> 
                  <option value="as">As</option> 
                  <option value="se">Se</option> 
                  <option value="br">Br</option> 
                  <option value="kr">Kr</option> 
                  <option value="rb">Rb</option> 
                  <option value="sr">Sr</option> 
                  <option value="y">Y</option>
                  <option value="zr">Zr</option> 
                  <option value="nb">Nb</option> 
                  <option value="mo">Mo</option> 
                  <option value="tc">Tc</option> 
                  <option value="ru">Ru</option> 
                  <option value="rh">Rh</option> 
                  <option value="pd">Pd</option> 
                  <option value="ag">Ag</option> 
                  <option value="cd">Cd</option> 
                  <option value="in">In</option> 
                  <option value="sn">Sn</option> 
                  <option value="sb">Sb</option> 
                  <option value="te">Te</option> 
                  <option value="i">I</option>
                  <option value="xe">Xe</option> 
                  <option value="cs">Cs</option> 
                  <option value="ba">Ba</option> 
                  <option value="la">La</option> 
                  <option value="ce">Ce</option> 
                  <option value="pr">Pr</option> 
                  <option value="nd">Nd</option> 
                  <option value="pm">Pm</option> 
                  <option value="sm">Sm</option> 
                  <option value="eu">Eu</option> 
                  <option value="gd">Gd</option> 
                  <option value="tb">Tb</option> 
                  <option value="dy">Dy</option> 
                  <option value="ho">Ho</option> 
                  <option value="er">Er</option> 
                  <option value="tm">Tm</option> 
                  <option value="yb">Yb</option> 
                  <option value="lu">Lu</option> 
                  <option value="hf">Hf</option> 
                  <option value="ta">Ta</option> 
                  <option value="w">W</option>
                  <option value="re">Re</option> 
                  <option value="os">Os</option> 
                  <option value="ir">Ir</option> 
                  <option value="pt">Pt</option> 
                  <option value="au">Au</option> 
                  <option value="hg">Hg</option> 
                  <option value="tl">Tl</option> 
                  <option value="pb">Pb</option> 
                  <option value="bi">Bi</option> 
                  <option value="po">Po</option> 
                  <option value="at">At</option> 
                  <option value="rn">Rn</option> 
                  <option value="fr">Fr</option> 
                  <option value="ra">Ra</option> 
                  <option value="ac">Ac</option> 
                  <option value="th">Th</option> 
                  <option value="pa">Pa</option>
                  <option value="u">U</option>
                  <option value="np">Np</option> 
                  <option value="pu">Pu</option> 
                  <option value="am">Am</option> 
                  <option value="cm">Cm</option> 
                  <option value="bk">Bk</option> 
                  <option value="cf">Cf</option> 
                  <option value="es">Es</option> 
                  <option value="fm">Fm</option> 
                  <option value="md">Md</option> 
                  <option value="no">No</option> 
                  <option value="lr">Lr</option> 
                  <option value="rf">Rf</option> 
                  <option value="db">Db</option> 
                  <option value="sg">Sg</option> 
                  <option value="bh">Bh</option> 
                  <option value="hs">Hs</option> 
                  <option value="mt">Mt</option> 
                  <option value="ds">Ds</option> 
                  <option value="rg">Rg</option> 
                  <option value="cn">Cn</option> 
                  <option value="nh">Nh</option> 
                  <option value="fl">Fl</option> 
                  <option value="mc">Mc</option> 
                  <option value="lv">Lv</option> 
                  <option value="ts">Ts</option> 
                  <option value="og">Og</option>                   
                </select>
              </div>
              <div class="form-group col-sm-3 hide-target" hidden="true">
                <label class="sr-only" for="range0">Range</label>
                <select class="form-control" name="range0" disabled="true">
                  <option>Range</option>
                  <option value="major">Major</option>
                  <option value="minor">Minor</option>
                  <option value="trace">Trace</option>
                </select>
              </div>
            </div>
            <div class="form-row mt-2" id="composition1" hidden="true">
              <div class="form-group col-md-1 offset-md-3">
                <label class="sr-only" for="element1_mod">Element modifier</label>
                <select class="form-control" name="element1_mod" title="Select whether to search for an element that appears in the data or not" disabled="true">
                  <option value="IN" default>IN</option>
                  <option value="NOT">NOT</option>
                </select>
              </div>
              <div class="form-group col-sm-3 element">
                <label class="sr-only" for="element1">element</label>
                <select class="form-control custom-select element" name="element1" multiple disabled="true">
                  <option disabled>Element</option>
                  <option value="h">H</option>
                  <option value="he">He</option>
                  <option value="li">Li</option>
                  <option value="be">Be</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="n">N</option>
                  <option value="o">O</option>
                  <option value="f">F</option>
                  <option value="ne">Ne</option> 
                  <option value="na">Na</option> 
                  <option value="mg">Mg</option> 
                  <option value="al">Al</option> 
                  <option value="si">Si</option> 
                  <option value="p">P</option>
                  <option value="s">S</option>
                  <option value="cl">Cl</option> 
                  <option value="ar">Ar</option> 
                  <option value="k">K</option>
                  <option value="ca">Ca</option> 
                  <option value="sc">Sc</option> 
                  <option value="ti">Ti</option> 
                  <option value="v">V</option>
                  <option value="cr">Cr</option> 
                  <option value="mn">Mn</option> 
                  <option value="fe">Fe</option> 
                  <option value="co">Co</option> 
                  <option value="ni">Ni</option> 
                  <option value="cu">Cu</option> 
                  <option value="zn">Zn</option> 
                  <option value="ga">Ga</option> 
                  <option value="ge">Ge</option> 
                  <option value="as">As</option> 
                  <option value="se">Se</option> 
                  <option value="br">Br</option> 
                  <option value="kr">Kr</option> 
                  <option value="rb">Rb</option> 
                  <option value="sr">Sr</option> 
                  <option value="y">Y</option>
                  <option value="zr">Zr</option> 
                  <option value="nb">Nb</option> 
                  <option value="mo">Mo</option> 
                  <option value="tc">Tc</option> 
                  <option value="ru">Ru</option> 
                  <option value="rh">Rh</option> 
                  <option value="pd">Pd</option> 
                  <option value="ag">Ag</option> 
                  <option value="cd">Cd</option> 
                  <option value="in">In</option> 
                  <option value="sn">Sn</option> 
                  <option value="sb">Sb</option> 
                  <option value="te">Te</option> 
                  <option value="i">I</option>
                  <option value="xe">Xe</option> 
                  <option value="cs">Cs</option> 
                  <option value="ba">Ba</option> 
                  <option value="la">La</option> 
                  <option value="ce">Ce</option> 
                  <option value="pr">Pr</option> 
                  <option value="nd">Nd</option> 
                  <option value="pm">Pm</option> 
                  <option value="sm">Sm</option> 
                  <option value="eu">Eu</option> 
                  <option value="gd">Gd</option> 
                  <option value="tb">Tb</option> 
                  <option value="dy">Dy</option> 
                  <option value="ho">Ho</option> 
                  <option value="er">Er</option> 
                  <option value="tm">Tm</option> 
                  <option value="yb">Yb</option> 
                  <option value="lu">Lu</option> 
                  <option value="hf">Hf</option> 
                  <option value="ta">Ta</option> 
                  <option value="w">W</option>
                  <option value="re">Re</option> 
                  <option value="os">Os</option> 
                  <option value="ir">Ir</option> 
                  <option value="pt">Pt</option> 
                  <option value="au">Au</option> 
                  <option value="hg">Hg</option> 
                  <option value="tl">Tl</option> 
                  <option value="pb">Pb</option> 
                  <option value="bi">Bi</option> 
                  <option value="po">Po</option> 
                  <option value="at">At</option> 
                  <option value="rn">Rn</option> 
                  <option value="fr">Fr</option> 
                  <option value="ra">Ra</option> 
                  <option value="ac">Ac</option> 
                  <option value="th">Th</option> 
                  <option value="pa">Pa</option>
                  <option value="u">U</option>
                  <option value="np">Np</option> 
                  <option value="pu">Pu</option> 
                  <option value="am">Am</option> 
                  <option value="cm">Cm</option> 
                  <option value="bk">Bk</option> 
                  <option value="cf">Cf</option> 
                  <option value="es">Es</option> 
                  <option value="fm">Fm</option> 
                  <option value="md">Md</option> 
                  <option value="no">No</option> 
                  <option value="lr">Lr</option> 
                  <option value="rf">Rf</option> 
                  <option value="db">Db</option> 
                  <option value="sg">Sg</option> 
                  <option value="bh">Bh</option> 
                  <option value="hs">Hs</option> 
                  <option value="mt">Mt</option> 
                  <option value="ds">Ds</option> 
                  <option value="rg">Rg</option> 
                  <option value="cn">Cn</option> 
                  <option value="nh">Nh</option> 
                  <option value="fl">Fl</option> 
                  <option value="mc">Mc</option> 
                  <option value="lv">Lv</option> 
                  <option value="ts">Ts</option> 
                  <option value="og">Og</option>                   
                </select>
              </div>
              <div class="form-group col-sm-3">
                <label class="sr-only" for="range1">Range</label>
                <select class="form-control" name="range1" disabled="true">
                  <option>Range</option>
                  <option value="major">Major</option>
                  <option value="minor">Minor</option>
                  <option value="trace">Trace</option>
                </select>
              </div>
            </div>
            <div class="form-row mt-2" id="composition2" hidden="true">
              <div class="form-group col-md-1 offset-md-3">
                <label class="sr-only" for="element2_mod">Element modifier</label>
                <select class="form-control" name="element2_mod" title="Select whether to search for an element that appears in the data or not" disabled="true">
                  <option value="IN" default>IN</option>
                  <option value="NOT">NOT</option>
                </select>
              </div>
              <div class="form-group col-sm-3 element">
                <label class="sr-only" for="element2">element</label>
                <select class="form-control custom-select element" name="element2" multiple disabled="true">
                  <option disabled>Element</option>
                  <option value="h">H</option>
                  <option value="he">He</option>
                  <option value="li">Li</option>
                  <option value="be">Be</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="n">N</option>
                  <option value="o">O</option>
                  <option value="f">F</option>
                  <option value="ne">Ne</option> 
                  <option value="na">Na</option> 
                  <option value="mg">Mg</option> 
                  <option value="al">Al</option> 
                  <option value="si">Si</option> 
                  <option value="p">P</option>
                  <option value="s">S</option>
                  <option value="cl">Cl</option> 
                  <option value="ar">Ar</option> 
                  <option value="k">K</option>
                  <option value="ca">Ca</option> 
                  <option value="sc">Sc</option> 
                  <option value="ti">Ti</option> 
                  <option value="v">V</option>
                  <option value="cr">Cr</option> 
                  <option value="mn">Mn</option> 
                  <option value="fe">Fe</option> 
                  <option value="co">Co</option> 
                  <option value="ni">Ni</option> 
                  <option value="cu">Cu</option> 
                  <option value="zn">Zn</option> 
                  <option value="ga">Ga</option> 
                  <option value="ge">Ge</option> 
                  <option value="as">As</option> 
                  <option value="se">Se</option> 
                  <option value="br">Br</option> 
                  <option value="kr">Kr</option> 
                  <option value="rb">Rb</option> 
                  <option value="sr">Sr</option> 
                  <option value="y">Y</option>
                  <option value="zr">Zr</option> 
                  <option value="nb">Nb</option> 
                  <option value="mo">Mo</option> 
                  <option value="tc">Tc</option> 
                  <option value="ru">Ru</option> 
                  <option value="rh">Rh</option> 
                  <option value="pd">Pd</option> 
                  <option value="ag">Ag</option> 
                  <option value="cd">Cd</option> 
                  <option value="in">In</option> 
                  <option value="sn">Sn</option> 
                  <option value="sb">Sb</option> 
                  <option value="te">Te</option> 
                  <option value="i">I</option>
                  <option value="xe">Xe</option> 
                  <option value="cs">Cs</option> 
                  <option value="ba">Ba</option> 
                  <option value="la">La</option> 
                  <option value="ce">Ce</option> 
                  <option value="pr">Pr</option> 
                  <option value="nd">Nd</option> 
                  <option value="pm">Pm</option> 
                  <option value="sm">Sm</option> 
                  <option value="eu">Eu</option> 
                  <option value="gd">Gd</option> 
                  <option value="tb">Tb</option> 
                  <option value="dy">Dy</option> 
                  <option value="ho">Ho</option> 
                  <option value="er">Er</option> 
                  <option value="tm">Tm</option> 
                  <option value="yb">Yb</option> 
                  <option value="lu">Lu</option> 
                  <option value="hf">Hf</option> 
                  <option value="ta">Ta</option> 
                  <option value="w">W</option>
                  <option value="re">Re</option> 
                  <option value="os">Os</option> 
                  <option value="ir">Ir</option> 
                  <option value="pt">Pt</option> 
                  <option value="au">Au</option> 
                  <option value="hg">Hg</option> 
                  <option value="tl">Tl</option> 
                  <option value="pb">Pb</option> 
                  <option value="bi">Bi</option> 
                  <option value="po">Po</option> 
                  <option value="at">At</option> 
                  <option value="rn">Rn</option> 
                  <option value="fr">Fr</option> 
                  <option value="ra">Ra</option> 
                  <option value="ac">Ac</option> 
                  <option value="th">Th</option> 
                  <option value="pa">Pa</option>
                  <option value="u">U</option>
                  <option value="np">Np</option> 
                  <option value="pu">Pu</option> 
                  <option value="am">Am</option> 
                  <option value="cm">Cm</option> 
                  <option value="bk">Bk</option> 
                  <option value="cf">Cf</option> 
                  <option value="es">Es</option> 
                  <option value="fm">Fm</option> 
                  <option value="md">Md</option> 
                  <option value="no">No</option> 
                  <option value="lr">Lr</option> 
                  <option value="rf">Rf</option> 
                  <option value="db">Db</option> 
                  <option value="sg">Sg</option> 
                  <option value="bh">Bh</option> 
                  <option value="hs">Hs</option> 
                  <option value="mt">Mt</option> 
                  <option value="ds">Ds</option> 
                  <option value="rg">Rg</option> 
                  <option value="cn">Cn</option> 
                  <option value="nh">Nh</option> 
                  <option value="fl">Fl</option> 
                  <option value="mc">Mc</option> 
                  <option value="lv">Lv</option> 
                  <option value="ts">Ts</option> 
                  <option value="og">Og</option>                    
                </select>
              </div>
              <div class="form-group col-sm-3">
                <label class="sr-only" for="range2">Range</label>
                <select class="form-control" name="range2" disabled="true">
                  <option>Range</option>
                  <option value="major">Major</option>
                  <option value="minor">Minor</option>
                  <option value="trace">Trace</option>
                </select>
              </div>
            </div>

            <div class="row mt-1">

              <div class=" col-md-2 offset-md-6 col-sm-3 offset-sm-6">
                <a class="btn btn-outline-light btn-block mt-2" id="reset-btn">Reset</a>
              </div>
              <div class="col-md-2 col-sm-3">
                <button class="btn btn-outline-warning btn-block mt-2">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>


    <div class="container-fluid p-0" id="results">
      <table class="table table-striped table-bordered table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Measurement Technique</th>
            <th>Major Elements</th>
            <th>Minor Elements</th>
            <th>Trace Elements</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Pg.#</th> 
            <th>Journal</th> 
            <th>Issue</th>
            <th>Year Published</th> 
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < Entries.length; i++) { %>
              <tr>
                <th>
                  <a href="/database/meteorite/<%= Entries[i].entry_id %>?paper=<%= Entries[i].paper_id %>">
                    <%= Entries[i].meteorite_name %>
                  </a>
                </th>
                <th><%= Entries[i].classification_group %></th>
                <th><%= Entries[i].technique %></th>
                <th>
                  <% 
                  if (Entries[i].major_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].major_elements.length; j++) {
                      var temp = Entries[i].major_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th>
                  <% 
                  if (Entries[i].minor_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].minor_elements.length; j++) {
                      var temp = Entries[i].minor_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th>
                  <% 
                  if (Entries[i].trace_elements !== null) {
                  %>
                    <%
                    for(var j = 0; j < Entries[i].trace_elements.length; j++) {
                      var temp = Entries[i].trace_elements[j].split(',');
                      var element_symbol = temp[0];
                      var ppb_mean = temp[1];
                      var deviation = temp[2];
                      var less_than = temp[3];
                    %>
                    <p>
                      <strong><%= element_symbol %>:</strong> 
                      <% if (less_than === 'true') { %>
                        &lt;
                      <% } %>
                      <%= ppb_mean %>
                      <% if (deviation !== '0') { %>
                        &plusmn; <%= deviation %>
                      <% } %>
                    </p>
                    <% } %>
                  <% } %>
                </th>
                <th><%= Entries[i].title %></th>
                <th><%= Entries[i].authors %></th>
                <th><%= Entries[i].page_number %></th> 
                <th><%= Entries[i].journal_name %></th> 
                <th><%= Entries[i].issue_number %></th>
                <th><%= Entries[i].published_year %></th> 
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <%- include('bootstrap/js'); %>
    <script src="/javascripts/database.js"></script>
  </body>
</html>
