<!DOCTYPE html>
<html>
  <head>
    <title>Iron Meteorite Database</title>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/db-export.css' />
  </head>
  <body>
    <% if(isSignedIn){ %>
      <%- include('components/navbar_signed_in'); %>
    <% } else { %>
      <%- include('components/navbar'); %>
    <% } %>










    <div class="container-fluid pt-3 ml-3">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/database">Database</a></li>
            <li class="breadcrumb-item active" aria-current="page">Export</li>
          </ol>
        </nav>        
      </div>
      <div class="row">
        <h1>Export Data:</h1>       
      </div>
      <div class="row">
        <p>Select meteorites for inclusion in export.</p>
      </div>
      <div class="row align-right">
        <button class="btn btn-warning" id="top-btn">Export Data</button>
      </div>
    </div>

    <div class="container-fluid pt-3" id="entries">
      <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Group</th>
            <th>Measurement Technique</th>
            <% let columnNumber = 0 %>
            <% for(var i=0; i < major.length; i++) { %>
              <th class="<%= columnNumber%>">
                <%= major[i].charAt(0).toUpperCase() + major[i].slice(1)%> (major)
              </th>
              <% columnNumber++ %>
            <% } %>
            <% for(var i=0; i < minor.length; i++) { %>
              <th class="<%= columnNumber%>">
                <%= minor[i].charAt(0).toUpperCase() + minor[i].slice(1)%> (minor)
              </th>
              <% columnNumber++ %>
            <% } %>
            <% for(var i=0; i < trace.length; i++) { %>
              <th class="<%= columnNumber%>">
                <%= trace[i].charAt(0).toUpperCase() + trace[i].slice(1)%> (trace)
              </th>
              <% columnNumber++ %>
            <% } %>
            <th>Title</th>
            <th>Authors</th>
            <th>Pg.#</th> 
            <th>Journal</th> 
            <th>Volume</th>
            <th>Year Published</th> 
          </tr>
        </thead>
        <tbody>

          <% var currentRow = 0; %>
          <% for(var i=0; i < Entries.length; i++) { %>
            <% let columnNumber = 0 %>
            <tr>
              <th>
                <i class="far fa-times-circle fa-2x row ml-1 mr-1 mt-5"></i>
              </th>
              <th class="data meteorite_name"><%= Entries[i].meteorite_name %></th>
              <th class="data classification_group"><%= Entries[i].classification_group %></th>
              <th class="data technique"><%= Entries[i].technique %></th>
              <% if ( major.indexOf(Entries[i].element_symbol) === -1 ) { %>
                <% for(var j = 0; j < major.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
              <% } else { %>
                <% for(var j = 0; j < major.indexOf(Entries[i].element_symbol); j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
                <th class="<%= columnNumber%>">
                    <% if (Entries[i].less_than === true) { %>
                      &lt;
                    <% } %>
                    <%= Entries[i].measurement %>
                    <% if (Entries[i].deviation !== 0) { %>
                      &plusmn; <%= Entries[i].deviation %>
                    <% } %>
                  </th>
                  <% columnNumber++ %>
                <% for(var j = major.indexOf(Entries[i].element_symbol) + 1; j < major.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
              <% } %>

              <% if ( minor.indexOf(Entries[i].element_symbol) === -1 ) { %>
                <% for(var j = 0; j < minor.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
              <% } else { %>
                <% for(var j = 0; j < minor.indexOf(Entries[i].element_symbol); j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
                <th class="<%= columnNumber%>">
                  <% if (Entries[i].less_than === true) { %>
                    &lt;
                  <% } %>
                  <%= Entries[i].measurement %>
                  <% if (Entries[i].deviation !== 0) { %>
                    &plusmn; <%= Entries[i].deviation %>
                  <% } %>
                </th>
                <% columnNumber++ %>
                <% for(var j = minor.indexOf(Entries[i].element_symbol) + 1; j < minor.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                <% } %>
              <% } %>

              <% if ( trace.indexOf(Entries[i].element_symbol) === -1 ) { %>
                <% for(var j = 0; j < trace.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
              <% } else { %>
                <% for(var j = 0; j < trace.indexOf(Entries[i].element_symbol); j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
                <th class="<%= columnNumber%>">
                    <% if (Entries[i].less_than === true) { %>
                      &lt;
                    <% } %>
                    <%= Entries[i].measurement %>
                    <% if (Entries[i].deviation !== 0) { %>
                      &plusmn; <%= Entries[i].deviation %>
                    <% } %>
                  </th>
                  <% columnNumber++ %>
                <% for(var j = trace.indexOf(Entries[i].element_symbol) + 1; j < trace.length; j++) { %>
                  <th class="<%= columnNumber%>"></th>
                  <% columnNumber++ %>
                <% } %>
              <% } %>

              <th class="data title"><%= Entries[i].title %></th>
              <th class="data authors"><%= Entries[i].authors %></th>
              <th class="data page_number"><%= Entries[i].page_number %></th> 
              <th class="data journal_name"><%= Entries[i].journal_name %></th> 
              <th class="data volume"><%= Entries[i].volume %></th>
              <th class="data published_year"><%= Entries[i].published_year %></th> 
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div class="container-fluid">
      <div class="d-flex flex-row-reverse">
        <form action="/database/export" method="POST" id="export-form">
          <label class="sr-only" for="tableData">table data for export request</label>
          <input type="hidden" id="tableData" name="tableData" ></input>
          <button class="btn btn-warning" id="export-btn" name="export" value="true">Export Data</button>
        </form>
      </div>
    </div>

    <%- include('bootstrap/js'); %>
    <script src="/javascripts/db-export.js"></script>
  </body>
</html>
