<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry Editor</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
            <h1>Data Entry Editor</h1>
        </div>
    </div>

    <div class="container-fluid pt-1 pb-1">
        <div id="pdf-panel"></div>
    </div>

    <div hidden="true" id="filepath" value="<%- data %>"><%- data %></div>
    <%- include('bootstrap/js'); %>
    <script src='/javascripts/pdfobject.min.js'></script>
    <script>
        const fp = $( '#filepath' ).attr('value');
        const panel = $( '#pdf-panel' );
        PDFObject.embed(fp, panel);
    </script>
    <script src="/javascripts/editor.js"></script>
</body>
</html>