<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry Editor</title>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
            <h1>Data Entry Editor  </h1>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#uploadModal">Upload pdf</button>
        </div>
    </div>

    <div class="container-fluid pt-1 pb-1">

        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="card text-center border-dark">
                <div class="card-header bg-danger">
                    <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item bg-warning">
                        <a class="nav-link active" id="insert-tab" data-toggle="tab" href="#insert" role="tab" aria-controls="insert" aria-selected="true">Insert View</a>
                    </li>
                    <li class="nav-item bg-warning">
                        <a class="nav-link" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="true">Table View</a>
                    </li>
                    </ul>
                </div>

                <div class="card-body tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="insert" role="tabpanel" aria-labelledby="insert-tab">
                        <h5 class="card-title">Insert Tab</h5>
                        <form method="POST" action="/data-entry/insert" class="align-top mx-auto text-left" id="insert-form">
                            <%- include('components/insert_form'); %>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                        <h5 class="card-title">Table Tab</h5>
                        <p id="manual-text">View populated via automated tool. View not available via manual editor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload PDF</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/data-entry/editor" enctype="multipart/form-data" class=" align-top mx-auto" id="pdf-form">
                    <div class="modal-body">
                        <small><strong>Warning:</strong> Uploading pdf may interupt previously entered work.</small>
                        <div class="form-group">
                            <label for="filetoupload">Choose file to upload</label>
                            <input type="file" id="pdf" name="filetoupload" accept=".pdf">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- even though the id 'modal-upload' is never called, it will break the autosave if you remove it -->
                        <button type="submit" class="btn btn-danger mt-2 ml-2 pr-4 pl-4" id="modal-upload">Upload</button> 
                        <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('bootstrap/js'); %>
    <%- include('components/ejs'); %>
    <%- include('components/drop-down-script'); %>
    <script>
        const username = "<%= username %>";
        const filename = "<%= data %>";
        const sessionID= '<%= sessionID %>';
    </script>
    <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/editor-modal.js"></script>
    <script src="/javascripts/editor/save.js"></script>
</body>
</html>  
