<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('bootstrap/css'); %>
  </head>
  <body>
    <%- include('components/navbar'); %>

  	<div class="container-fluid">
  		<h1><%= title %></h1>
	    <p class="text-primary">Welcome to <%= title %></p>
  	</div>

    <%- include('bootstrap/js'); %>
  </body>
</html>
