<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/auth_form.css' />
  </head>
  <body>
    <% if(isSignedIn){ %>
      <%- include('components/navbar_signed_in'); %>
    <% } else { %>
      <%- include('components/navbar'); %>
    <% } %>

    <% if(isSignedIn){ %>
      <%- include('components/navbar_signed_in'); %>
      <div class="container mt-4">
        <div class="d-flex flex-row align-items-center justify-content-center mt-5 mb-2">
            <h1>You are already signed in.</h1>
        </div>
      </div>
    <% } else { %>
      <div class="container mt-4">
        <div class="row">
          <div class="col-sm-8 offset-sm-4 text-center">
            <form action="/register" method="POST">
              <h1 class="h3">Registration form:</h1>
                <label class="sr-only" for="username">username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus minlength="4" maxlength="25">
                <label class="sr-only" for="password">password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="password" required minlength="6" maxlength="25">
              <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    <% } %>

    <%- include('bootstrap/js'); %>
  </body>
</html>
