<!DOCTYPE html>
<html>
  <head>
    <title>Iron Meteorite Database</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/single-entry.css' />
  </head>
  <body>
    <%- include('components/navbar'); %>
    <div class="container-fluid p-0">
      <div class="d-flex flex-row justify-content-center bd-highlight text-light bg-danger pt-3">
        <h1><%= Entries[0].meteorite_name %> - Entry ID: <%= Entries[0].entry_id %></h1>
      </div>
      <div  class="d-flex flex-row justify-content-center bd-highlight pt-3 mb-3 text-light bg-secondary">
        <h2>Group: <%= Entries[0].classification_group %></h2>
      </div>

      <div class="col-8 offset-2 bg-light">
        <div class="d-flex flex-column justify-content-center  mb-3">
          <h2>Source</h2>
            <div class="col-10 offset-1">
              <h4>Paper</h4>
              <p>Paper Title: <em><%= Entries[0].title %></em></p>
              <p>Authors: <%= Entries[0].authors %></p>

              <h4>Journal</h4>
              <p><%= Entries[0].journal_name %> <%= Entries[0].issue_number %></p>
              <p>Published: <%= Entries[0].published_year %></p>
              <p>Entry found on: <%= Entries[0].page_number %></p>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center mb-3">
          <h2>Composition</h2>
            <div class="col-10 offset-1">
              <p>Measurements taken using: <%= Entries[0].technique %></p>

              <h4>Major Elements</h4>
              <p><%= Entries[0].major_elements %></p>

              <h4>Minor Elements</h4>
              <p><%= Entries[0].minor_elements %></p>

              <h4>Trace Elements</h4>
              <p><%= Entries[0].trace_elements %></p>
            </div>
        </div>
      </div>

          
    </div>
    <%- include('bootstrap/js'); %>
  </body>
</html>