<!DOCTYPE html>
<html>

<head>
  <title>User Panel</title>
  <%- include('bootstrap/css'); %>
  <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  <link rel='stylesheet' href='/stylesheets/user-panel.css' />
</head>

<body>
  <%- include('components/navbar_signed_in'); %>

  <div class="container pt-3" id="bottom-container">
    <div class="d-flex flex-row align-items-center justify-content-left mt-5 mb-2">
      <h3 class="h3">User Panel</h3>
    </div>
  </div>

  <div class="container card pt-2 pb-2" id="report">
    <div>
      <a class="btn btn-danger btn-large p-2 text-warning " href="../database/reported" role="button">Reported
        Entries
        <span class="h1 badge badge-light">4</span>
      </a>
    </div>
    <div>
      <table class="table table-stripd table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Body</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author(s)</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < Entries.length; i++) { %>
          <tr>
            <th>
              <%= Entries[i].nomenclature %>
            </th>
            <th>
              <%= Entries[i].title %>
            </th>
            <th>
              <%= Entries[i].published_year %>
            </th>
            <th>
              <%= Entries[i].author_name %>
            </th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container card mt-5 pt-2 pb-2" id="approval">
    <div>
      <a class="btn btn-danger btn-large p-2 text-warning " href="../database/unapproved" role="button">Approval Needed
        <span class="badge badge-light">4</span>
      </a>
    </div>
    <div>
      <table class="table table-stripd table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Body</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Guanaco</th>
            <th>Meteorite Paper</th>
            <th>1990</th>
            <th>Wasson, John</th>
          </tr>
          <tr>
            <th>Guanaco</th>
            <th>Meteorite Paper</th>
            <th>2004</th>
            <th>Wasson, John</th>
          </tr>
          <tr>
            <th>Guanaco</th>
            <th>Meteorite Paper</th>
            <th>2009</th>
            <th>Wasson, John</th>
          </tr>
          <tr>
            <th>Guanaco</th>
            <th>Meteorite Paper</th>
            <th>2012</th>
            <th>Wasson, John</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <%- include('bootstrap/js'); %>
</body>

</html>