<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry</title>
    <%- include('components/favicon'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>

    <div class="container-fluid pt-3" id="content">
      <% if (Alert !== "") { %>
        <% if (AlertType === "error") { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: </strong>
            <%= Alert%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } else { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Success: </strong>
              <%= Alert%>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <% } %>
      <% } %>
      <div class="d-flex flex-row align-items-center justify-content-center mt-5 mb-2">
        <h3>Select a data entry approach below:</h3>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-center pt-3">
        <a class="btn btn-danger btn-lg text-light" id="tool">With PDF</a>
        <h3 class="mx-4 mb-2"> - or - </h3>
        <a href="/data-entry/editor" class="btn btn-danger btn-lg">Without PDF</a>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-center pt-3">
          <form method="POST" action="/data-entry" enctype="multipart/form-data" class="border border-dark align-top mx-auto bg p-3" id="pdf-form" hidden="true">
            <div class="form-group">
                <label for="filetoupload">Choose file to upload</label>
                <input type="file" id="pdf" name="filetoupload"
                    accept=".pdf">
            </div>
            <button type="submit" class="btn btn-secondary float-right">Submit</button>
          </form>
      </div>

    </div>

    <%- include('bootstrap/js'); %>
    <script src="/javascripts/data-entry.js"></script>
  </body>
</html>
