<!DOCTYPE html>
<html>
  <head>
    <title>Automatic Data Entry</title>
    <%- include('components/favicon'); %>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container-fluid pt-3" id="top-container">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2">
            <h1>Automatic Data Entry</h1>
        </div>
    </div>
    <div class="container-fluid pt-1 pb-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 pl-1 mb-3 mt-5">
                <div class="sticky-top" id="pdf-panel"></div>
            </div>

            <div class="col-sm-11 col-md-6" id="event-div">
                <div id="secondary-panel">
                    <%- include('components/tool-checklist'); %>
                </div>
            </div>

            <div class="col-sm-11 col-md-6  mt-5" id="table-div" hidden="true">
                <div class="container-fluid pt-1 pb-1 px-0">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="card border-dark">
                            <div class="card-header bg-danger">
                                <h3 class="card-title text-center text-warning">Single Page Table(s) Getter</h3>
                            </div>
            
                            <div class="card-body tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="table-tab" role="tabpanel" aria-labelledby="table-tab">
                                    <form method="POST" action="/data-entry/tool/tables" class=" align-top" id="single-page-form">
                                        <small>Select page number of the pdf to extract tables from.</small>
                                        <!-- This will remain hidden -->
                                        <div class="form-group">
                                            <label for="fileName" class="sr-only">filenam</label>
                                            <input id="fileName" name="fileName" type="hidden" value="">
                                        </div>
                                    
                                        <!-- This will be a drop down, I'll need some way of grabing the number of pages before rendering this -->
                                        <!-- currently giving you 1-20 -->
                                        <div class="form-group">
                                            <h5><strong><label for="pageNum">Page Number <small><em><sup>*</sup>required</em></small></label></strong></h5>
                                            <select class="form-control" name="pageNum" id="pageNum">
                                                <% for (var i = 0; i < numOfPages; i++) { %>
                                                    <option value="<%= i + 1 %>"><%= i + 1 %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <!-- Some form of directional input, probably just number -360 to 360 -->
                                        <div class="form-group">
                                            <h5><strong><label for="flipDir">Flip Direction <small>(Degrees rotating clockwise)</small></label></strong></h5>
                                            <select class="form-control" id="flipDir" name="flipDir">
                                                <option value="0">0</option>
                                                <option value="90">90</option>
                                                <option value="180">180</option>
                                                <option value="270">270</option>
                                            </select>
                                        </div>
                                    
                                        <!-- will discuss further when/if we get to it -->
                                        <h5><strong>Coordinates:</strong></h5>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="coordsLeft">Left Coordinate:</label>
                                                    <input class="pl-2" id="coordsLeft" name="coordsLeft" type="number" value="0">
                                                </div>
                                                <div class="form-group">
                                                    <label for="coordsTop">Top Coordinate:</label>
                                                    <input class="pl-2" id="coordsTop" name="coordsTop" type="number" value="0">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="coordsWidth">Width Coordinate:</label>
                                                    <input class="pl-2" id="coordsWidth" name="coordsWidth" type="number" value="0">
                                                </div>
                                                <div class="form-group">
                                                    <label for="coordsHeight">Height Coordinate:</label>
                                                    <input class="pl-2" id="coordsHeight" name="coordsHeight" type="number" value="0">
                                                </div>
                                            </div>
                                        </div>
                                
                                        <button type="submit" class="btn btn-danger float-right mt-2 ml-2 pr-4 pl-4" id="get-btn">Get</button> 
                                        <button type="button" class="btn btn-secondary float-right mt-2" id="cancel-btn">Cancel</button>
                                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div hidden="true" id="filepath" value="<%- data %>"><%- data %></div>
    <%- include('bootstrap/js'); %>
    <%- include('components/ejs'); %>
    <%- include('components/drop-down-script'); %>
    <script src='/javascripts/pdfobject.min.js'></script>
    <script src="/javascripts/tool.js"></script>
  </body>
</html>
