<!DOCTYPE html>
<html>

<head>
    <title>All Entries</title>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/all-entries.css ' />
</head>

<body>
    <%- include('components/navbar_signed_in'); %>

    <div class='container card mt-5 mb-2 pt-3'>
        <h1>All Papers</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Paper ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Author(s)</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class='table-light'>
                <% for(var i=0; i < Entries.length; i++) { %>
                <tr>
                    <th>
                        <%= Entries[i].paper_id %>
                    </th>
                    <th>
                        <%= Entries[i].title %>
                    </th>
                    <th>
                        <%= Entries[i].published_year %>
                    </th>
                    <th>
                        <%= Entries[i].authors %>
                    </th>
                    <th>
                        <%= Entries[i].current_status %>
                    </th>
                    <th>
                        <div class="row ml-2  mr-2 mr-md-0">
                            <form action="/data-entry/editor/update" method="POST">
                                <label class="sr-only" for="submissionID">submission id of entry</label>
                                <input type="hidden" name="submissionID" value=<%= Entries[i].submission_id %>>
                                <button class="btn btn-warning" type="submit">Edit</button>
                            </form>
                            <button class="btn btn-danger mt-2 mt-xl-0 ml-xl-2 delete-btn">Delete</button>
                        </div>
                    </th>
                    <% } %>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include('bootstrap/js'); %>
</body>

</html>