<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry - Approval</title>
    <%- include('components/favicon'); %>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <h1>Can't approve own entries</h1>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="/database/unapproved" class="btn btn-danger btn-lg">Back to unapproved</a>
    </div>
  
    <%- include('bootstrap/js'); %>
    <%- include('components/ejs'); %>
  </body>
</html>
