<!DOCTYPE html>
<html>
  <head>
    <title>Unapproved Database Entries</title>
    <%- include('components/favicon'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/db-unapproved.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>

    <div class="container pb-3" id="bottom-container">
      <div class="d-flex flex-row align-items-center justify-content-left mt-5 mb-2 pl-1 pt-4 pb-2">
        <h3 class="h2">Unapproved Database Entries</h3>
      </div>

      <% if (Entries.length === 0) { %>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success: </strong>
            There are no pending entries.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% } %>

      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Paper ID</th>
            <th>Paper Title</th>
            <th>Date Imported</th>
            <th>Imported by</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < Entries.length; i++) { %>
          <tr>
            <th>
              <%= Entries[i].paper_id %>
            </th>
            <th>
              <%= Entries[i].title %>
            </th>
            <th>
              <%= Entries[i].submission_date %>
            </th>
            <th>
              <%= Entries[i].submitted_by %>
            </th>
            <th>
              <form action="/data-entry/approve" method="POST">
                <label class="sr-only" for="paperID">entry ids of currently viewed entries</label>
                <input type="hidden" name="paperID" value=<%= Entries[i].paper_id %>>
                <button class="btn btn-warning" type="submit">Load Approval</button>
              </form>
            </th>
            <% } %>
          </tr>
        </tbody>
      </table>

      <% if (Entries.length === 0) { %>
        <div class="d-flex flex-row align-items-center justify-content-center">
            <a href="/panel" class="btn btn-warning btn-lg">
              Back to panel
            </a>
        </div>
      <% } %>
    </div>

    <div class="m-5"></div>
    <%- include('bootstrap/js'); %>
  </body>
</html>