<!DOCTYPE html>
<html>
  <head>
    <title>Manual Data Entry</title>
    <%- include('components/favicon'); %>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
            <h1>Manual Data Entry</h1>
        </div>
    </div>

    <div class="container-fluid pt-1 pb-4" id="event-div">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="card text-center border-dark">
                <div class="card-header bg-danger">
                    <h3 class="card-title text-warning">Editor</h3>
                </div>

                <div class="card-body tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="insert" role="tabpanel" aria-labelledby="insert-tab">
                        
                        <form method="POST" action="/data-entry/insert" class="align-top mx-auto text-left" id="insert-form">
                            <%- include('components/insert_form'); %>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('bootstrap/js'); %>
    <%- include('components/ejs'); %>
    <%- include('components/drop-down-script'); %>
    <script>
        const username = '<%- username %>';
    </script>
    <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/editor/save.js"></script>
    <%if (typeof savedData !== 'undefined' && savedData !== null ) { %>
        <script>
        const savedDataStr = `<%- savedData %>`;
        const savedData = JSON.parse(savedDataStr);
        </script>
        <script src="/javascripts/editor/unroll.js"></script>
    <% } %>
</body>
</html>  
