<!DOCTYPE html>
<html>
  <head>
    <title>Data Entry - Approval</title>
    <%- include('components/font-awesome'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  </head>
  <body>
    <%- include('components/navbar_signed_in'); %>
  

    <div class="container-fluid mt-5">
        <div class="row p-2" id="alert-target">
            <% if (pdfPath !== null && pdfPath !== 'null' && pdfPath.slice(pdfPath.length - 4) === '.pdf') { %>
                <% console.log(pdfPath); %>
                <div class="col-sm-12 col-md-5 pl-1 mb-3 mt-5">
                    <div class="sticky-top" id="pdf-panel"></div>
                </div>
                <div class="col-sm-11 col-md-7 border border-dark rounded pb-2" id="event-div">
            <% } else { %>
                <div class="container-fluid border border-dark rounded ml-md-5 mr-md-5 mb-3 pb-2" id="event-div">
            <% } %>
                    <div class="d-flex flex-row align-items-center justify-content-center mt-2 mb-2">
                        <h1>Edit</h1>
                    </div>
                    <p>Submission last owned by <%= username %></p>
                    <% if (pdfPath === 'null') { %>
                        <p>No pdf found for this submission.</p>
                    <% } %>

                    <form method="POST" action="/data-entry/edit" class="align-top mx-auto text-left" id="insert-form">
                    </form>

                    <h5 class="pt-1 pr-1 mr-2">
                        <%= SubmissionID %>
                    </h5>
                        
                </div>
        </div>
    </div>

    <% if (pdfPath !== null && pdfPath !== 'null' && pdfPath.slice(pdfPath.length - 4) === '.pdf') { %>
        <div hidden="true" id="filepath" value="<%- pdfPath %>"><%- pdfPath %></div>
    <% } %>

    <%- include('bootstrap/js'); %>
    <%- include('components/ejs'); %>
    <% if (pdfPath !== null && pdfPath !== 'null' && pdfPath.slice(pdfPath.length - 4) === '.pdf') { %>
        <script src='/javascripts/pdfobject.min.js'></script>
        <script>
            $('document').ready( function() {
                const fp = $( '#filepath' ).attr('value');
                const panel = $( '#pdf-panel' );
                PDFObject.embed(fp, panel);
            });
        </script>
        <script src="/javascripts/editor/pdf.js"></script>
    <% } %>
    <script src="/javascripts/edit.js"></script>
  </body>
</html>
