<!DOCTYPE html>
<html>

<head>
  <title>
    <%= errcode %>
  </title>
  <%- include('components/favicon'); %>
  <%- include('bootstrap/css'); %>
</head>

<body>
  <% if(isSignedIn){ %>
  <%- include('components/navbar_signed_in'); %>
  <% } else { %>
  <%- include('components/navbar'); %>
  <% } %>

  <div class="container-fluid">
    <h1 class="text-danger">
      <%= message %>
    </h1>


  </div>

  <%- include('bootstrap/js'); %>
</body>

</html>