<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <%- include('components/favicon'); %>
    <%- include('bootstrap/css'); %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/help.css' />
</head>

<body>
    <% if(isSignedIn){ %>
    <%- include('components/navbar_signed_in'); %>
    <% } else { %>
    <%- include('components/navbar'); %>
    <% } %>

    <div class="container-fluid pt-3 pb-4" id="top-container">
        <div class="row">
            <div class="col-md-8 pt-4 ml-5">
                <div class="row">
                    <div>
                        <h1>Documentation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3" id="bottom-container">
        <div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h5>
                        Welcome to the Iron Meteorite Database, a part of <a href="https://psyche.asu.edu/">
                            Arizona State University's project Psyche</a>. This is the premiere database for curated
                        information on iron meteorites. We strive to have the most complete and most accurate
                        collection
                        of data by using a mixture of natural language processing and traditional data entry.
                    </h5>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <hr>
                    <center>
                        <a href="#search">Search</a>&nbsp;&nbsp;&nbsp;
                        <a href="#exportData">Export Data</a>&nbsp;&nbsp;&nbsp;
                        <% if(isSignedIn){ %>
                        <a href="#dataEntry">Data Entry</a>&nbsp;&nbsp;&nbsp;
                        <a href="#reportError">Report an Error</a>&nbsp;&nbsp;&nbsp;
                        <% } %>
                        <a href="#registration">Registration</a>&nbsp;&nbsp;&nbsp;
                    </center>
                    <hr>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <a id="search"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Search</h3>
                    <p>
                        If you know the name of the meteorite you are searching for,
                        or you know the name of the paper or author you are looking for,
                        you can search for this on the landing page. For more advanced searches,
                        select "Enter the Database".
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/search1.png" alt="simple search">
                        </center>
                    </p>
                    <!-- TODO: Add information about advanced search. BLOCKING: not yet designed -->
                    <p>
                        For advanced search, ...
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <a id="exportData"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Export Data</h3>
                    <p>... how to export data</p>
                    <!-- TODO: Add information about exporting data. BLOCKING: feature not implemented -->
                </div>
                <div class="col-sm-1"></div>
            </div>

            <% if(isSignedIn){ %>
            <a id="dataEntry"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Data Entry</h3>
                    <p>
                        <!-- TODO: add link for request page. BLOCKER: not implemented -->
                        Data entry is restricted to preapproved users. To request an invitiation,
                        go to <a href="/">request page</a>. If you are an approved user, log in and
                        go to the <a href="/data-entry">data entry page</a>.
                    </p>
                    <p>
                        If you would like to use the automated tools to extract information from
                        the paper, select "Automated Tool" and choose the PDF to upload. If you
                        do not want to use the automated tools, you may choose to upload a PDF to
                        work off of, or you may choose to do so later.
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/dataentry1.png" alt="select entry method">
                        </center>
                    </p>
                    <p>
                        If you chose not to upload a PDF, you can do so at any time by selecting
                        "Upload PDF".
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/dataentry2.png" alt="select entry method">
                        </center>
                    </p>
                    <p>
                        When selecting to use the automated tools, you will be provided with
                        a selection of information to extract. While we strive to have the highest
                        levels of accuracy, that isn't always possible. Because of this, the information
                        extracted must be verified for accuracy before submitting the entry.
                        After submitting a paper to the Iron Meteorite Database, your information will
                        be pending approval by the admins.
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/dataentry3.png" alt="select automated tools">
                        </center>
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/dataentry4.png" alt="data entry page with PDF">
                        </center>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <% } %>

            <% if(isSignedIn){ %>
            <a id="reportError"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Report an Error</h3>
                    <p>... how to report an error</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <% } %>

            <a id="registration"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Registration</h3>
                    <p>
                        To register a user, go to the <a href="/register">registration page</a>
                        and enter a user name and password.
                    </p>
                    <p>
                        <center>
                            <img src="/images/help/register1.png" alt="register user">
                        </center>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <!-- <a id="search"></a><br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h3 class="section-head">Search</h3>
                    <p>
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div> -->

        </div>
    </div>
    <%- include('bootstrap/js'); %>
</body>

</html>