<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <%- include('components/favicon'); %>
    <%- include('bootstrap/css'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <% if(isSignedIn){ %>
    <%- include('components/navbar_signed_in'); %>
    <% } else { %>
    <%- include('components/navbar'); %>
    <% } %>

    <button type="button" id="testbtn" name="testbtn">SUBMIT JSON</button>
<script src="/javascripts/test.js"></script>
    <%- include('bootstrap/js'); %>
</body>

</html>
