<!DOCTYPE html>
<html>

<head>
  <title>User Panel</title>
  <%- include('components/favicon'); %>
  <%- include('bootstrap/css'); %>
  <link rel='stylesheet' href='/stylesheets/data-entry.css' />
  <link rel='stylesheet' href='/stylesheets/user-panel.css' />
</head>

<body>
  <%- include('components/navbar_signed_in'); %>

  <div class="container pt-3" id="bottom-container">
    <div class="d-flex flex-row align-items-center justify-content-left mt-5 mb-2">
      <h3 class="h3">Entries</h3>
    </div>
  </div>

  <div class="container card pt-2 pb-2" id="approval">
    <div>
      <a class="btn btn-danger btn-large p-2 text-warning " href="../database/unapproved" role="button"> <u>Approval
          Needed</u>
        <span class="h1 badge badge-light">
          <% let pCount = pendingCount <= 4 ? pendingCount : "4+" %>
          <%= pCount %></span>
      </a>
    </div>
    <div>
      <table class="table table-stripd table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Paper ID</th>
            <th>Paper Title</th>
            <th>Date Imported</th>
            <th>Imported by</th>
          </tr>
        </thead>
        <tbody>
          <% let pending = (Pending.length < 4 ? Pending.length : 4) %>
          <% for(var i=0; i < pending; i++) { %>
          <tr>
            <th>
              <%= Pending[i].paper_id %>
            </th>
            <th>
              <%= Pending[i].title %>
            </th>
            <th>
              <%= Pending[i].submission_date %>
            </th>
            <th>
              <%= Pending[i].submitted_by %>
            </th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% if (pendingCount > 4) { %>
    <div class="text-right">
      <a class="btn btn-danger btn-sm p-2 text-warning " href="../database/unapproved" role="button"> <u>View More
          Entries
        </u>
      </a>
    </div>
    <% } %>
  </div>

  <div class="container card mt-5 pt-2 pb-2" id="own-entries">
    <div>
   <a class="btn btn-danger btn-large p-2 text-warning " href="../database/own" role="button"> <u>Your Entries</u>
        <span class="h1 badge badge-light">
        <% let ownEntriesCount = ownCount <= 3 ? ownCount : "3+" %>
        <%= ownEntriesCount %></span>
      </a>
    </div>
    <div>
      <table class="table table-stripd table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Paper Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Authors</th>
          </tr>
        </thead>
        <tbody class='table-light'>
          <% let db = (OwnEntries.length < 3 ? OwnEntries.length : 3) %>
          <% for(var i=0; i < db; i++) { %>
          <tr>
            <th>
              <%= OwnEntries[i].paper_id %>
            </th>
            <th>
              <%= OwnEntries[i].title %>
            </th>
            <th>
              <%= OwnEntries[i].published_year %>
            </th>
            <th>
              <%= OwnEntries[i].authors %>
            </th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% if (ownEntriesCount > 4) { %>
    <div class="text-right">
      <a class="btn btn-danger btn-sm p-2 text-warning " href="../database/own" role="button"> <u>View More of Your
          Entries
        </u>
      </a>
    </div>
    <% } %>
  </div>

<!--  Unimplemented due to timeline limitation -->
  <!-- <div class="container card mt-5 pt-2 pb-2" id="approval">
    <div>
      <a class="btn btn-danger btn-large p-2 text-warning " href="../database/reported" role="button"><u>Reported
          Entries</u>
        <span class="badge badge-light">
          <% let fCount = flaggedCount <= 4 ? flaggedCount : "4+" %>
          <%= fCount %></span>
      </a>
    </div>
    <div>
      <table class="table table-stripd table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Body</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author(s)</th>
          </tr>
        </thead>
        <tbody>
          <% let flagged = (Flagged.length < 4 ? Flagged.length : 4) %>
          <% for(var i=0; i < flagged; i++) { %>
          <tr>
            <th>
              <%= Flagged[i].nomenclature %>
            </th>
            <th>
              <%= Flagged[i].title %>
            </th>
            <th>
              <%= Flagged[i].published_year %>
            </th>
            <th>
              <%= Flagged[i].authors %>
            </th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% if (flaggedCount > 4) { %>
    <div class="text-right">
      <a class="btn btn-danger btn-sm p-2 text-warning " href="../database/reported" role="button"> <u>View More
          Entries
        </u>
      </a>
    </div>
    <% } %>
  </div> -->


  <%- include('bootstrap/js'); %>
</body>

</html>